.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80vh;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20%;
  margin-right: 70%;
}

.hero-intro {
  color: #682ae9;
  font-weight: 600;
}

.hero-name {
  color: #ccd6f6;
  font-size: 5rem;
}

.hero-subtitle {
  color: #8892b0;
  font-size: 5rem;
  line-height: 1.4;
}

.hero-context {
  padding-top: 2rem;
  color: #8892b0;
  width: 45rem;
  text-wrap: balance;
}

.hero-image {
  position: absolute;
  width: 9rem;
  padding-left: 33rem;
  padding-bottom: 20rem;
  z-index: -3;
  transform: rotate(35deg);
}